@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.bg_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  width: 1440px;
  padding: 50px 20px;
}

.cab {
  grid-column: 1/4;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-mobile {
  display: none;
  position: absolute;
  right: 0;
}

.menu_princ {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  font-weight: 400;
  font-size: 1rem;
}

.menu_princ a {
  text-decoration: none;
}

.menu_princ a:hover {
  color: hsl(35, 77%, 62%);
}

.main-container {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  gap: 40px;
}

.web3_img {
  grid-column: 1/3;
}

.web3_img img {
  width: 100%;
  height: 340px;
}

.news_container {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: hsl(240, 100%, 5%);
  padding: 25px;
  color: hsl(36, 100%, 99%);
}

.news_container h1 {
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.news-geral {
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.news_content {
  position: relative;
}

.news_content:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsl(36, 100%, 99%);
  bottom: -50px;
}

.news_content h2 {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.news_content h2:hover {
  color: hsl(35, 77%, 62%);
}

.news_content p {
  font-weight: 400;
  font-size: 1rem;
  max-width: 32ch;
  line-height: 26px;
}

.main-content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-content h1 {
  font-weight: 800;
  font-size: 4rem;
  max-width: 9ch;
  line-height: 3.8rem;
}

.main-content p {
  font-weight: 400;
  font-size: 1rem;
  max-width: 36ch;
  line-height: 25px;
  color: hsl(236, 13%, 42%);
  height: fit-content;
  justify-content: end;
}

.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 22px;
}

#read-more {
  display: grid;
  align-self: flex-start;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  letter-spacing: 4px;
}

#read-more:hover {
  background-color: hsl(240, 100%, 5%);
}

.footer-bg {
  grid-column: 1/4;
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  gap: 0 20px;
}

.footer-content img {
  width: 100px;
}

.footer-text {
  display: grid;
}

.footer-text h1 {
  color: hsl(233, 8%, 79%);
}

.footer-text h2 {
  cursor: pointer;
  font-size: 1.4rem;
}

.footer-text h2:hover {
  color: hsl(35, 77%, 62%);
}

.footer-text p {
  font-size: 1rem;
  width: 24ch;
  line-height: 1.5rem;
}

@media (max-width: 1100px) {
  .menu_princ {
    gap: 25px;
  }

  .web3_img {
    grid-column: 1/4;
  }

  .news_container {
    grid-column: 1/4;
    grid-row: 3;
  }

  .main-content {
    grid-column: 1/4;
  }

  .footer-bg {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}

@media (max-width: 768px) {
  .menu_princ {
    display: none;
  }

  .cab {
    position: relative;
  }

  .menu_princ.ativo {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding-top: 150px;
  }

  .menu_princ.ativo a {
    margin-left: 40px;
    font-weight: 700;
  }

  .menu-mobile {
    display: block;
    cursor: pointer;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-content h1 {
    font-size: 3rem;
    line-height: 2.8rem;
    max-width: 10ch;
  }

  .btn-div {
    margin-left: 0;
    gap: 15px 0;
  }
}

@media (max-width: 480px) {
  .bg_cont {
    padding: 15px 10px;
  }

  .cab {
    margin-bottom: 15px;
  }

  .logocab img {
    width: 40px;
  }

  .web3_img img {
    width: 100%;
    height: 100%;
  }

  .main-container {
    gap: 20px;
  }

  .main-content h1 {
    font-size: 2.5rem;
    line-height: 2.3rem;
  }

  .main-content p {
    font-size: 0.75rem;
    line-height: 1.1rem;
    max-width: max-content;
  }

  #read-more {
    font-size: 0.65rem;
    padding: 10px 20px;
  }

  .news-geral {
    gap: 50px;
  }

  .news_content:not(:last-child)::after {
    bottom: -25px;
  }

  .news_container {
    padding: 15px;
  }

  .news_container h1 {
    font-size: 1.3rem;
  }

  .news_content h2 {
    font-size: 1rem;
  }

  .news_content p {
    font-size: 0.65rem;
    max-width: max-content;
  }

  .footer-bg {
    margin-top: 20px;
  }

  .footer-content {
    gap: 12px;
  }

  .footer-content img {
    width: 65px;
  }

  .footer-text h1 {
    font-size: 1.1rem;
  }

  .footer-text h2 {
    font-size: 1rem;
  }

  .footer-text p {
    font-size: 0.65rem;
    line-height: 1rem;
  }
}
